In [1]:
#  This is created by jamal hussain shah topic Combine Two Data Frames with Different Variables by Rows in R

In [2]:
data1 <- data.frame(x1 = 1:5,               # First data frame
                    x2 = letters[1:5])

In [3]:
data1

  x1 x2
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e

In [4]:
data2 <- data.frame(x2 = LETTERS[11:15],    # Second data frame
                    x3 = 777)

In [5]:
data2

  x2 x3
1 K  777
2 L  777
3 M  777
4 N  777
5 O  777

In [6]:
# Merging Data Frames with Unequal Column Names Using bind_rows() of dplyr Package

In [7]:
install.packages("dplyr")                   # Install & load dplyr

also installing the dependencies 'glue', 'cli', 'rlang', 'vctrs'

  There are binary versions available but the source versions are later:
      binary source needs_compilation
glue   1.4.2  1.6.2              TRUE
cli    2.5.0  3.3.0              TRUE
rlang 0.4.11  1.0.2              TRUE
vctrs  0.3.8  0.4.1              TRUE
dplyr  1.0.6  1.0.9              TRUE

  Binaries will be installed
package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\glue\libs\x64\glue.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\glue\libs\x64\glue.dll: Permission denied"Warning message:
"restored 'glue'"

package 'cli' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'vctrs' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'vctrs'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\vctrs\libs\x64\vctrs.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\vctrs\libs\x64\vctrs.dll: Permission denied"Warning message:
"restored 'vctrs'"

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\dplyr\libs\x64\dplyr.dll: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\RtmpCsPd7g\downloaded_packages

In [8]:
library("dplyr")

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [9]:
bind_rows(data1, data2)                     # Applying bind_rows function

   x1 x2 x3
1   1 a   NA
2   2 b   NA
3   3 c   NA
4   4 d   NA
5   5 e   NA
6  NA K  777
7  NA L  777
8  NA M  777
9  NA N  777
10 NA O  777