In [ ]:
# This is created by jamal hussain shah topic Create data table in R

In [1]:
install.packages("data.table")                    # Install data.table package

  There is a binary version available but the source version is later:
           binary source needs_compilation
data.table 1.14.0 1.14.2              TRUE

  Binaries will be installed
package 'data.table' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'data.table'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\data.table\libs\x64\datatable.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\data.table\libs\x64\datatable.dll: Permission denied"Warning message:
"restored 'data.table'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\Rtmp8wEeuV\downloaded_packages

In [2]:
library("data.table")                             # Load data.table package

In [3]:
x1 <- 1:5                                         # Vector 1
x2 <- letters[1:5]                                # Vector 2
x3 <- c(TRUE, FALSE, FALSE, TRUE, TRUE)           # Vector 3

In [4]:
dt_1 <- data.table(x1, x2, x3)                    # Create data.table

In [5]:
dt_1

  x1 x2 x3
1 1  a   TRUE
2 2  b  FALSE
3 3  c  FALSE
4 4  d   TRUE
5 5  e   TRUE

In [6]:
# data.table From Vectors With Specific Column Names

In [7]:
dt_2 <- data.table("A" = x1, "B" = x2, "C" = x3)  # Create data.table

In [8]:
dt_2

  A B C
1 1 a  TRUE
2 2 b FALSE
3 3 c FALSE
4 4 d  TRUE
5 5 e  TRUE

In [9]:
# data.table With Random Values

In [10]:
dt_3 <- data.table("A" = rnorm(5), 
                   "B" = rpois(5, 5), 
                   "C" = rbinom(5, 2, .6))        # Create data.table

In [11]:
dt_3

  A          B C
1 -1.1057593 5 2
2  0.7146246 8 2
3  0.6849073 8 2
4 -1.1385405 5 1
5  0.2012289 3 1