In [ ]:
# This is created by jamal hussain shah topic 'Data Manipulation in R'

In [1]:
data(iris)  # Load iris data set

In [2]:
head(iris)    # Print first six rows of data frame

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
#  Select Column of Data Frame

In [3]:
my_col <- iris$Sepal.Length                           # Convert column to vector

In [4]:
head(my_col)                                          # First six elements of vector
# [1] 5.1 4.9 4.7 4.6 5.0 5.4

[1] 5.1 4.9 4.7 4.6 5.0 5.4

In [5]:
mean(my_col)                                          # Calculate mean of vector
# [1] 5.843333

[1] 5.843333

In [6]:
# Remove Column from Data Frame

In [7]:
irisA <- iris                                         # Duplicate data frame

In [8]:
irisA <- irisA[ , colnames(irisA) != "Sepal.Length"]  # Drop one column
head(irisA)                                           # Print first six rows of data frame

  Sepal.Width Petal.Length Petal.Width Species
1 3.5         1.4          0.2         setosa
2 3.0         1.4          0.2         setosa
3 3.2         1.3          0.2         setosa
4 3.1         1.5          0.2         setosa
5 3.6         1.4          0.2         setosa
6 3.9         1.7          0.4         setosa

In [9]:
# Add New Column to Data Frame

In [10]:
irisB <- iris                                         # Duplicate data frame
irisB$new_col <- (1:nrow(irisB))^2                    # Add new column
head(irisB)                                           # Print first six rows of data frame

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species new_col
1 5.1          3.5         1.4          0.2         setosa   1
2 4.9          3.0         1.4          0.2         setosa   4
3 4.7          3.2         1.3          0.2         setosa   9
4 4.6          3.1         1.5          0.2         setosa  16
5 5.0          3.6         1.4          0.2         setosa  25
6 5.4          3.9         1.7          0.4         setosa  36

In [11]:
# Rename Columns of Data Frame

In [12]:
irisC <- iris                                         # Duplicate data frame
colnames(irisC) <- paste0("x", 1:ncol(irisC))         # Change column names
head(irisC)                                           # Print first six rows of data frame

  x1  x2  x3  x4  x5
1 5.1 3.5 1.4 0.2 setosa
2 4.9 3.0 1.4 0.2 setosa
3 4.7 3.2 1.3 0.2 setosa
4 4.6 3.1 1.5 0.2 setosa
5 5.0 3.6 1.4 0.2 setosa
6 5.4 3.9 1.7 0.4 setosa

In [13]:
# Reorder Rows of Data Frame

In [14]:
irisD <- iris                                         # Duplicate data frame
irisD <- irisD[order(irisD$Sepal.Length), ]           # Sort rows by values
head(irisD)                                           # Print first six rows of data frame

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
14 4.3          3.0         1.1          0.1         setosa
9  4.4          2.9         1.4          0.2         setosa
39 4.4          3.0         1.3          0.2         setosa
43 4.4          3.2         1.3          0.2         setosa
42 4.5          2.3         1.3          0.3         setosa
4  4.6          3.1         1.5          0.2         setosa

In [15]:
# Subset Data Frame Rows

In [16]:
irisE <- iris                                         # Duplicate data frame
irisE <- irisE[c(1, 3, 5), ]                          # Create data frame subset
irisE                                                 # Print data frame subset

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [17]:
# Replace Values in Data Frame

In [18]:
irisF <- iris                                         # Duplicate data frame
irisF[c(1, 3, 5), 1] <- 999                           # Replace values in data frame
head(irisF)                                           # Print first six rows of data frame

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 999.0        3.5         1.4          0.2         setosa
2   4.9        3.0         1.4          0.2         setosa
3 999.0        3.2         1.3          0.2         setosa
4   4.6        3.1         1.5          0.2         setosa
5 999.0        3.6         1.4          0.2         setosa
6   5.4        3.9         1.7          0.4         setosa

In [19]:
# Remove Duplicate Rows in Data Frame

In [20]:
irisG <- rbind(iris[1:3, ], iris[2:5, ])              # Create data frame with duplicates
irisG                                                 # Print data frame with duplicates

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
21 4.9          3.0         1.4          0.2         setosa
31 4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa

In [21]:
irisH <- unique(irisG)                                # Drop duplicates from data frame
irisH                                                 # Print data frame with unique rows

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [22]:
# Aggregate Values in Data Frame by Group

In [23]:
irisI <- aggregate(Sepal.Length ~ Species,            # Calculate sum by group
                   iris,
                   sum)
irisI                                                 # Print sum by group

  Species    Sepal.Length
1 setosa     250.3
2 versicolor 296.8
3 virginica  329.4