In [2]:
data <- data.frame(x1 = 1:6,                # Create example data
                   x2 = c(1, 2, 2, 3, 1, 2),
                   x3 = c("F", "B", "C", "E", "A", "D"))

In [3]:
data

  x1 x2 x3
1 1  1  F
2 2  2  B
3 3  2  C
4 4  3  E
5 5  1  A
6 6  2  D

In [4]:
install.packages("dplyr")                   # Install dplyr package

also installing the dependencies 'glue', 'cli', 'rlang', 'vctrs'

  There are binary versions available but the source versions are later:
      binary source needs_compilation
glue   1.4.2  1.6.2              TRUE
cli    2.5.0  3.3.0              TRUE
rlang 0.4.11  1.0.2              TRUE
vctrs  0.3.8  0.4.1              TRUE
dplyr  1.0.6  1.0.9              TRUE

  Binaries will be installed
package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\glue\libs\x64\glue.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\glue\libs\x64\glue.dll: Permission denied"Warning message:
"restored 'glue'"

package 'cli' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'vctrs' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'vctrs'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\vctrs\libs\x64\vctrs.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\vctrs\libs\x64\vctrs.dll: Permission denied"Warning message:
"restored 'vctrs'"

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\dplyr\libs\x64\dplyr.dll: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\RtmpmQ4J9B\downloaded_packages

In [5]:
library("dplyr")                            # Load dplyr package

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
arrange(data, x3)                           # Apply arrange function

  x1 x2 x3
1 5  1  A
2 2  2  B
3 3  2  C
4 6  2  D
5 4  3  E
6 1  1  F

In [7]:
filter(data, x2 == 2)                       # Apply filter function

  x1 x2 x3
1 2  2  B
2 3  2  C
3 6  2  D

In [8]:
mutate(data, x4 = x1 + x2)                  # Apply mutate function

  x1 x2 x3 x4
1 1  1  F  2
2 2  2  B  4
3 3  2  C  5
4 4  3  E  7
5 5  1  A  6
6 6  2  D  8

In [9]:
pull(data, x2)                              # Apply pull function

[1] 1 2 2 3 1 2

In [10]:
rename(data, new_name = x3)                 # Apply rename function

  x1 x2 new_name
1 1  1  F
2 2  2  B
3 3  2  C
4 4  3  E
5 5  1  A
6 6  2  D

In [11]:
set.seed(765)                               # Set seed for reproducibility

In [12]:
sample_n(data, 3)                           # Apply sample_n function

  x1 x2 x3
1 4  3  E
2 6  2  D
3 3  2  C

In [13]:
select(data, c(x2, x3))                     # Apply select function

  x2 x3
1 1  F
2 2  B
3 2  C
4 3  E
5 1  A
6 2  D