In [1]:
# This is created by jamal hussain shah topic select & rename R Functions of dplyr Package

In [2]:
data <- data.frame(x1 = 1:3,                    # Create example data
                   x2 = LETTERS[1:3],
                   x3 = 5)

In [3]:
data                                            # Print example data

  x1 x2 x3
1 1  A  5
2 2  B  5
3 3  C  5

In [4]:
install.packages("dplyr")                       # Install dplyr

also installing the dependencies 'glue', 'cli', 'rlang', 'vctrs'

  There are binary versions available but the source versions are later:
      binary source needs_compilation
glue   1.4.2  1.6.2              TRUE
cli    2.5.0  3.3.0              TRUE
rlang 0.4.11  1.0.2              TRUE
vctrs  0.3.8  0.4.1              TRUE
dplyr  1.0.6  1.0.9              TRUE

  Binaries will be installed
package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\glue\libs\x64\glue.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\glue\libs\x64\glue.dll: Permission denied"Warning message:
"restored 'glue'"

package 'cli' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'vctrs' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'vctrs'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\vctrs\libs\x64\vctrs.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\vctrs\libs\x64\vctrs.dll: Permission denied"Warning message:
"restored 'vctrs'"

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\dplyr\libs\x64\dplyr.dll: Permission denied"Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\Rtmp2hRRr6\downloaded_packages

In [5]:
library("dplyr")                                # Load dplyr

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [6]:
select(data, c(x1, x3))                         # Apply select function

  x1 x3
1 1  5
2 2  5
3 3  5

In [7]:
#Change Variable Name with rename Function

In [8]:
dplyr::rename(data, x1_new = x1)                # Apply rename function

  x1_new x2 x3
1 1      A  5
2 2      B  5
3 3      C  5

In [9]:
#  filter R Function of dplyr Package

In [10]:
data <- data.frame(x1 = 1:5,                     # Create example data
                   x2 = letters[1:5],
                   group = c("gr1", "gr2", "gr1", "gr3", "gr2"))

In [11]:
data                                             # Print data to RStudio console

  x1 x2 group
1 1  a  gr1
2 2  b  gr2
3 3  c  gr1
4 4  d  gr3
5 5  e  gr2

In [12]:
# Extract Rows by Logical Condition with filter Function

In [13]:
filter(data, group == "gr2")                     # Subset data with filter function

  x1 x2 group
1 2  b  gr2
2 5  e  gr2

In [14]:
# R dplyr group_by & summarize Functions don’t Work Properly

In [15]:
data <- data.frame(value = 1:12,    # Create example data
                   group = factor(rep(letters[1:3], each = 4)))

In [16]:
data                                # Print example data

   value group
1   1    a
2   2    a
3   3    a
4   4    a
5   5    b
6   6    b
7   7    b
8   8    b
9   9    c
10 10    c
11 11    c
12 12    c

In [17]:
install.packages("plyr")            # Install & load plyr package

  There is a binary version available but the source version is later:
     binary source needs_compilation
plyr  1.8.6  1.8.7              TRUE

  Binaries will be installed
package 'plyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\Rtmp2hRRr6\downloaded_packages

In [18]:
library("plyr")

Warning message:
"package 'plyr' was built under R version 3.6.3"------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [19]:
data %>%                            # plyr version
  group_by(group) %>% 
  summarize(mean = mean(value))

  mean
1 6.5

In [20]:
# Apply group_by & summarize Functions with Explicit dplyr Specification

In [21]:
data %>%                            # dplyr version
  group_by(group) %>% 
  dplyr::summarize(mean = mean(value))

  group mean
1 a      2.5
2 b      6.5
3 c     10.5

In [22]:
# arrange Function of dplyr R Package

In [23]:
data <- data.frame(x1 = 1:5,                # Create example data
                   x2 = c(1, 2, 2, 1, 2),
                   x3 = c("B", "C", "E", "A", "D"))

In [24]:
data                                        # Print data to RStudio console

  x1 x2 x3
1 1  1  B
2 2  2  C
3 3  2  E
4 4  1  A
5 5  2  D

In [25]:
# Arrange Data By One Variable

In [26]:
arrange(data, x2)                           # Arrange data by one column

  x1 x2 x3
1 1  1  B
2 4  1  A
3 2  2  C
4 3  2  E
5 5  2  D

In [27]:
# Arrange Data By Multiple Variables

In [28]:
arrange(data, x2, x3)                       # Arrange data by multiple columns

  x1 x2 x3
1 4  1  A
2 1  1  B
3 2  2  C
4 5  2  D
5 3  2  E

In [29]:
# Join Data Frames with the R dplyr Package

In [30]:
data1 <- data.frame(ID = 1:2,                      # Create first example data frame
                    X1 = c("a1", "a2"),
                    stringsAsFactors = FALSE)

In [31]:
data2 <- data.frame(ID = 2:3,                      # Create second example data frame
                    X2 = c("b1", "b2"),
                    stringsAsFactors = FALSE)

In [32]:
inner_join(data1, data2, by = "ID")                # Apply inner_join dplyr function

  ID X1 X2
1 2  a2 b1

In [33]:
left_join(data1, data2, by = "ID")                 # Apply left_join dplyr function

  ID X1 X2
1 1  a1 NA
2 2  a2 b1

In [34]:
right_join(data1, data2, by = "ID")                # Apply right_join dplyr function

  ID X1 X2
1 2  a2 b1
2 3  NA b2

In [35]:
full_join(data1, data2, by = "ID")                 # Apply full_join dplyr function

  ID X1 X2
1 1  a1 NA
2 2  a2 b1
3 3  NA b2

In [36]:
semi_join(data1, data2, by = "ID")                 # Apply semi_join dplyr function

  ID X1
1 2  a2

In [37]:
anti_join(data1, data2, by = "ID")                 # Apply anti_join dplyr function

  ID X1
1 1  a1

In [38]:
# Join Multiple Data Frames

In [39]:
data3 <- data.frame(ID = c(2, 4),                   # Create third example data frame
                    X2 = c("c1", "c2"),
                    X3 = c("d1", "d2"),
                    stringsAsFactors = FALSE)

In [40]:
data3                                               # Print data to RStudio console

  ID X2 X3
1 2  c1 d1
2 4  c2 d2

In [41]:
full_join(data1, data2, by = "ID") %>%              # Full outer join of multiple data frames
  full_join(., data3, by = "ID")

  ID X1 X2.x X2.y X3
1 1  a1 NA   NA   NA
2 2  a2 b1   c1   d1
3 3  NA b2   NA   NA
4 4  NA NA   c2   d2

In [42]:
#  Join by Multiple Columns

In [43]:
full_join(data2, data3, by = c("ID", "X2"))         # Join by multiple columns

  ID X2 X3
1 2  b1 NA
2 3  b2 NA
3 2  c1 d1
4 4  c2 d2

In [44]:
#  Join Data & Delete ID

In [45]:
inner_join(data1, data2, by = "ID") %>%              # Automatically delete ID
  select(- ID)

  X1 X2
1 a2 b1