In [1]:
# this is created by jamal hussain shah topic mutate & transmute R Functions of dplyr Package

In [2]:
data <- data.frame(x1 = 1:5,      # Create example data
                   x2 = 5:9)

In [3]:
data                              # Print example data

  x1 x2
1 1  5
2 2  6
3 3  7
4 4  8
5 5  9

In [4]:
library("dplyr")                  # Load dplyr add-on package

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [5]:
mutate(data, x3 = x1 + x2)        # Apply mutate function

  x1 x2 x3
1 1  5   6
2 2  6   8
3 3  7  10
4 4  8  12
5 5  9  14

In [6]:
transmute(data, x3 = x1 + x2)     # Apply transmute function

  x3
1  6
2  8
3 10
4 12
5 14

In [7]:
# dplyr mutate Function with Logical ifelse Condition in R

In [8]:
data <- data.frame(x1 = 1:5,    # Example data
                   x2 = letters[1:5],
                   x3 = 3)

In [9]:

data                            # Print example data

  x1 x2 x3
1 1  a  3
2 2  b  3
3 3  c  3
4 4  d  3
5 5  e  3

In [10]:
library("dplyr")

In [11]:
# Conditional mutate Function Returns Logical Value

In [12]:
data %>%                        # Apply mutate
  mutate(x4 = (x1 == 1 | x2 == "b"))

  x1 x2 x3 x4
1 1  a  3   TRUE
2 2  b  3   TRUE
3 3  c  3  FALSE
4 4  d  3  FALSE
5 5  e  3  FALSE

In [13]:
# Conditional mutate Function Returns Numeric Value

In [14]:
data %>%                        # Apply mutate
  mutate(x4 = (x1 == 1 | x2 == "b") * 1)

  x1 x2 x3 x4
1 1  a  3  1
2 2  b  3  1
3 3  c  3  0
4 4  d  3  0
5 5  e  3  0