In [1]:
# This is created by jamal hussain shah topic Extract Subset of Data Frame Rows Containing NA in R

In [2]:
data <- data.frame(x1 = c(3, NA, 3, 5, NA),    # Create data
                   x2 = c(NA, 1, 2, 3, 4),
                   x3 = c(7, NA, 4, 1, 2))

In [3]:
data                                           # Print data

  x1 x2 x3
1  3 NA  7
2 NA  1 NA
3  3  2  4
4  5  3  1
5 NA  4  2

In [4]:
data[rowSums(is.na(data)) > 0, ]               # Missings in any row

  x1 x2 x3
1  3 NA  7
2 NA  1 NA
5 NA  4  2

In [5]:
# Extract Rows with NA in Specific Column

In [6]:
data[is.na(data$x1), ]                         # Missings in x1

  x1 x2 x3
2 NA 1  NA
5 NA 4   2