In [1]:
# This is created by jamal hussain shah topic Merge Two data.table Objects in R

In [2]:
install.packages("data.table")          # Install data.table package

  There is a binary version available but the source version is later:
           binary source needs_compilation
data.table 1.14.0 1.14.2              TRUE

  Binaries will be installed
package 'data.table' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\RtmpW42AWE\downloaded_packages

In [3]:
library("data.table")                   # Load data.table package

Warning message:
"package 'data.table' was built under R version 3.6.3"

In [4]:
data1 <- data.table(ID1 = 1001:1006,    # Create first data.table
                    x1 = 1:6,
                    x2 = letters[1:6])

In [5]:
data1                                   # Print first data.table

  ID1  x1 x2
1 1001 1  a
2 1002 2  b
3 1003 3  c
4 1004 4  d
5 1005 5  e
6 1006 6  f

In [6]:
data2 <- data.table(ID2 = 1001:1006,    # Create second data.table
                    y1 = 6:1,
                    y2 = letters[6:1])

In [7]:
data2

  ID2  y1 y2
1 1001 6  f
2 1002 5  e
3 1003 4  d
4 1004 3  c
5 1005 2  b
6 1006 1  a

In [8]:
# Merge Two data.tables with Different IDs Using merge.data.table Function

In [9]:
data_all <- merge.data.table(data1,     # Merge data.tables
                             data2,
                             by.x = "ID1",
                             by.y = "ID2")

In [10]:
data_all                                # Print merged data.table

  ID1  x1 x2 y1 y2
1 1001 1  a  6  f
2 1002 2  b  5  e
3 1003 3  c  4  d
4 1004 4  d  3  c
5 1005 5  e  2  b
6 1006 6  f  1  a