In [ ]:
# This is created by jamal hussain shah topic R scan Function (5 Example Codes) | Read Text or CSV File Line by Line

In [9]:
data <- data.frame(x1 = c(4, 4, 1, 9),                # Create example data.frame
                   x2 = c(1, 8, 4, 0),
                   x3 = c(5, 3, 5, 6))

In [10]:
data

  x1 x2 x3
1 4  1  5
2 4  8  3
3 1  4  5
4 9  0  6

In [11]:
write.table(data,                                     # Write data as txt file to directory
            file = "data.txt",
            row.names = FALSE)

In [15]:
getwd()                                               # Get currently used directory
"C:/Users/jamal"

[1] "C:/Users/jamal"

[1] "C:/Users/jamal"

In [16]:
data1 <- scan("data.txt", what = "character")         # Apply scan function to txt file

In [17]:
data1

 [1] "x1" "x2" "x3" "4"  "1"  "5"  "4"  "8"  "3"  "1"  "4"  "5"  "9"  "0"  "6"

In [18]:
# Scan Text Data as List

In [19]:
data2 <- scan("data.txt", what = list("", "", ""))    # Read txt file into list

In [20]:
data2

[[1]]
[1] "x1" "4"  "4"  "1"  "9"

[[2]]
[1] "x2" "1"  "8"  "4"  "0"

[[3]]
[1] "x3" "5"  "3"  "5"  "6"

In [21]:
# Skip Lines with Scan Function

In [22]:
data3 <- scan("data.txt", skip = 1)                   # Skip first line of txt file

In [23]:
data3

 [1] 4 1 5 4 8 3 1 4 5 9 0 6

In [24]:
# Scan Excel CSV File

In [25]:
write.table(data,                                     # Write data as csv file to directory
            file = "data.csv",
            row.names = FALSE)

In [26]:
data4 <- scan("data.csv", what = "character")         # Apply scan function to csv file

In [27]:
data4

 [1] "x1" "x2" "x3" "4"  "1"  "5"  "4"  "8"  "3"  "1"  "4"  "5"  "9"  "0"  "6"

numeric(0)