In [ ]:
# This is created by jamal hussain shah topic Reading Multiple CSV Files from Folder Using for-Loop

In [31]:
data1 <- data.frame(x1 = 1:5,                                 # First data frame
                    x2 = letters[1:5])
data2 <- data.frame(y1 = 1:5,                                 # Second data frame
                    y2 = letters[1:5])
data3 <- data.frame(z1 = 1:5,                                 # Third data frame
                    z2 = letters[1:5])

In [33]:
dir.create("D:/henna/jamal")                # Create folder

In [34]:
data_names <- c("data1", "data2", "data3")                    # Create vector of names
data_names                                                    # Print names
# "data1" "data2" "data3"

[1] "data1" "data2" "data3"

In [36]:
for(i in 1:length(data_names)) {                              # Head of for-loop
  write.csv2(get(data_names[i]),                              # Write CSV files to folder
             paste0("D:/henna/jamal",
                    data_names[i],
                    ".csv"),
             row.names = FALSE)
}

In [37]:
# Reading Multiple CSV Files from Folder Using for-Loop

In [41]:
data_files <- list.files("D:/henna/jamal")  # Identify file names
data_files                                                    # Print file names
# "data1.csv" "data2.csv" "data3.csv"

character(0)

In [45]:
data1

  x1 x2
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e

In [46]:
data2

  y1 y2
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e

In [47]:
data3

  z1 z2
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e