In [ ]:
# This is created by jamal hussain shah topic Report Missing Values in Data Frame in R

In [1]:
set.seed(873264)                     # Create example data
data <- round(data.frame(x1 = rnorm(100),
                         x2 = runif(100),
                         x3 = rpois(100, 1)), 2)
data$x1[rbinom(100, 1, 0.2) == 1] <- NA
data$x2[rbinom(100, 1, 0.4) == 1] <- NA
data$x3[rbinom(100, 1, 0.6) == 1] <- NA

In [2]:
head(data)                           # First rows of example data

  x1    x2   x3
1 -0.35   NA NA
2    NA 0.98 NA
3  1.69 0.87  2
4 -0.99 0.00 NA
5    NA   NA NA
6    NA 0.03 NA

In [3]:
# Count Missing Values in Columns

In [4]:
colSums(is.na(data))                 # Count missing values by column

x1 x2 x3
20 44 58

In [5]:
colSums(is.na(data)) / nrow(data)    # Percentage of missing values by column

  x1   x2   x3
0.20 0.44 0.58