In [1]:
# This is created by jamal hussain shah topic Reshape Data Frame from Long to Wide Format in R

In [2]:
data <- data.frame(group_1 = rep(c("A", "B", "C"), each = 3),  # Create example data
                   group_2 = LETTERS[4:6],
                   values = 1:9)

In [3]:
data                                                           # Print example data

  group_1 group_2 values
1 A       D       1
2 A       E       2
3 A       F       3
4 B       D       4
5 B       E       5
6 B       F       6
7 C       D       7
8 C       E       8
9 C       F       9

In [5]:
data_reshape1 <- reshape(data,                                 # Applying reshape function
                         idvar = "group_1",
                         timevar = "group_2",
                         direction = "wide")

In [6]:
data_reshape1                                                  # Print wide data frame

  group_1 values.D values.E values.F
1 A       1        2        3
4 B       4        5        6
7 C       7        8        9

In [7]:
install.packages("tidyr")                                      # Install & load tidyr package

  There is a binary version available but the source version is later:
      binary source needs_compilation
tidyr  1.1.3  1.2.0              TRUE

  Binaries will be installed
package 'tidyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'tidyr'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\tidyr\libs\x64\tidyr.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\tidyr\libs\x64\tidyr.dll: Permission denied"Warning message:
"restored 'tidyr'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\RtmpMxHJJk\downloaded_packages

In [8]:
library("tidyr")

Warning message:
"package 'tidyr' was built under R version 3.6.3"

In [9]:
data_reshape2 <- spread(data,                                  # Applying spread function
                        key = group_2,
                        value = values)

In [10]:
data_reshape2                                                  # Print wide data frame

  group_1 D E F
1 A       1 2 3
2 B       4 5 6
3 C       7 8 9