In [1]:
# This is created by jamal hussain shah topic Sort Data Frame by Multiple Columns in R

In [2]:
data <- data.frame(x1 = 1:5,                         # Create example data
                   x2 = c("A", "D", "A", "B", "d"),
                   x3 = c(10, 5, 1, 20, 5))

In [3]:
data                                                 # Print example data

  x1 x2 x3
1 1  A  10
2 2  D   5
3 3  A   1
4 4  B  20
5 5  d   5

In [4]:
#Sort Data Frame by Multiple Columns with Base R (order Function)

In [5]:
data[with(data, order(x2, x3)), ]                    # Order data with Base R

  x1 x2 x3
3 3  A   1
1 1  A  10
4 4  B  20
5 5  d   5
2 2  D   5

In [6]:
# Sort Data Frame by Multiple Columns with dplyr Package (arrange Function)

In [7]:
install.packages("dplyr")                            # Install dplyr package

also installing the dependencies 'glue', 'ellipsis', 'cli', 'rlang', 'tibble', 'tidyselect', 'vctrs', 'pillar'

  There are binary versions available but the source versions are later:
           binary source needs_compilation
glue        1.4.2  1.6.2              TRUE
cli         2.5.0  3.3.0              TRUE
rlang      0.4.11  1.0.2              TRUE
tibble      3.1.1  3.1.7              TRUE
tidyselect  1.1.1  1.1.2              TRUE
vctrs       0.3.8  0.4.1              TRUE
pillar      1.6.0  1.7.0             FALSE
dplyr       1.0.6  1.0.9              TRUE

  Binaries will be installed
package 'glue' successfully unpacked and MD5 sums checked
package 'ellipsis' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\Rtmp8aabOF\downloaded_packages

installing the source package 'pillar'

In [8]:
library("dplyr")                                     # Load dplyr package

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [9]:
arrange(data, x2, x3)                                # Order data with dplyr

  x1 x2 x3
1 3  A   1
2 1  A  10
3 4  B  20
4 5  d   5
5 2  D   5

In [10]:
# Sort Data Frame by Multiple Columns with data.table Package (setorder Function)

In [11]:
install.packages("data.table")                       # Install data.table package

  There is a binary version available but the source version is later:
           binary source needs_compilation
data.table 1.14.0 1.14.2              TRUE

  Binaries will be installed
package 'data.table' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'data.table'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\00LOCK\data.table\libs\x64\datatable.dll to C:\Users\jamal\anaconda3\envs\alnafi-R\Lib\R\library\data.table\libs\x64\datatable.dll: Permission denied"Warning message:
"restored 'data.table'"

The downloaded binary packages are in
	C:\Users\jamal\AppData\Local\Temp\Rtmp8aabOF\downloaded_packages

In [12]:
library("data.table")                                # Load data.table package

Attaching package: 'data.table'

The following objects are masked from 'package:dplyr':

    between, first, last

In [13]:
data_ordered <- data                                 # Replicate example data

In [14]:
setorder(data_ordered, x2, x3)                       # Order data with data.table

In [15]:
data_ordered                                         # Print ordered data

  x1 x2 x3
3 3  A   1
1 1  A  10
4 4  B  20
5 5  d   5
2 2  D   5