In [1]:
# This is created by jamal hussain shah topic tolower, toupper, casefold & chartr R Functions (3 Examples)

In [2]:
x <- "Example"                            # Create example character string

In [3]:
tolower(x)                                # Convert to lower case letters

[1] "example"

In [4]:
toupper(x)                                # Convert to upper case letters

[1] "EXAMPLE"

In [5]:
# casefold Function

In [6]:
casefold(x, upper = FALSE)                # Convert to lower case letters

[1] "example"

In [7]:
casefold(x, upper = TRUE)                 # Convert to upper case letters

[1] "EXAMPLE"

In [8]:
# chartr Function

In [9]:
chartr(old = "Exam", new = "eXaM", x)     # Translate to upper and lower case

[1] "eXaMple"

In [10]:


x1 <- "Hello World! 123"
x2 <- tolower(x1)
cat("x1:", x1, "\n")
cat("x2:", x2, "\n")

cat("\n")

v1 <- c("Python", "C++", "Java", "SQL", "R")
v2 <- tolower(v1)
cat("v1:", v1, "\n")
cat("v2:", v2, "\n")

x1: Hello World! 123
x2: hello world! 123

v1: Python C++ Java SQL R
v2: python c++ java sql r